.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 1600px; 
    height: 900px; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:0.8; 
    filter: alpha(opacity=88); 
} 
.white_content { 
    display: none; 
    position: absolute; 
    top:0;
    left: 350px; 
    width: 900px; 
    height: 600px; 
    /* padding: 20px;  */
    /* border: 10px solid orange;  */
    background-color: white; 
    z-index:1002; 
    overflow: auto; 
} 

.tabbar_panel_window{
    width:150px;
    height:600px;
    float: right;
    background-color:black;
}

.tabbar_window{
    width:150px;
    height: 200px;
    background-color:#63687B;

}
.tabbar_window:hover{
    background-color:#868AA7;
}
.tabbar_window img{
    width:50px;
    height:50px;
    margin-top:60px;
    margin-left: 50px;
}
.tabbar_window p{
    width:75px;
    height:30px;
    font-size:18px;
    color:white;
    margin-top:10px;
    margin-left: 37px;
}

.research_panel{
    width:750px;
    height:600px;
    float: left;
}

.left_area{
    width:150px;
    height:600px;
    float: left;
    background-color:paleturquoise;
}

.right_area{
    width:600px;
    height:600px;
    float: right;
    background-color:plum;
}

.ellipse{
    width:150px;
    height:350px;
    border-radius:100%;
    background-color:palevioletred;
    position: relative;
    left: -75px;
}

.ellipse_bottom{
    position: relative;
    top:-100px;
}

.project_list{
    width:670px;
    height:50px;
    line-height: 50px;
    text-align: center;
    margin-top:30px;
    position: relative;
    left: -70px;
    top:60px;
    
}

.time_project{
    width:100px;
    height:30px;
    line-height: 30px;
    background-color:#FFFF66;
    font-size: 14px;
    text-align: center;
    float: left;
    position: relative;
    top:10px;
}

.project_list img{
    width:30px;
    height:30px;
    float: left;
    position: relative;
    top:10px;
}

.information_project{
    width:540px;
    height:50px;
    line-height: 50px;
    background-color:#00FFCC;
    font-size:18px;
    text-align: left;
    opacity: 0.8;
    float: left;
}